[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
"flake8" = "*"
aresponses = "*"
mypy = "*"
pre-commit = "*"
pydocstyle = "*"
pylint = "*"
pytest-aiohttp = "*"
pytest-cov = "*"
tox = "*"
twine = "*"

[packages]
"python-socketio[asyncio_client]" = ">=4.3.1"
aiohttp = "*"
python-engineio = ">=3.9.3"
websockets = "*"
